/* Fonts */
@font-face {
  font-family: Panda;
  font-display: swap;
  src: url(../fonts/panda.ttf);
  src: url(../fonts/panda.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}

/* Menu Icon */
li.toplevel_page_panda_robots div.wp-menu-image:before {
  content: "\0061";
  font-family: Panda;
  font-size: 25px;
  width: 25px;
  margin-top: -5px;
}

/* Menu Pages */
.toplevel_page_panda_robots #wpcontent {
  padding-left: 0px;
}

.toplevel_page_panda_robots .wrap {
  font-size: 14px;
  min-height: calc(100vh - 100px);
  padding: 0px;
  margin: 0px;
}

.toplevel_page_panda_robots header {
  padding: 20px 20px;
}

.toplevel_page_panda_robots p:first-child {
  font-size: 14px;
  line-height: 1.7;
  margin-top: 0px;
}

.toplevel_page_panda_robots .col-left .panda-container {
  margin: 0px 8px 0px 20px;
}

.toplevel_page_panda_robots .col-right .panda-container {
  margin: 0px 20px 0px 8px;
}

/* Menu Pages - Logo */
.toplevel_page_panda_robots #logo-icon {
  width: auto;
  max-height: 50px;
  padding: 0px;
  margin: 0px;
}

/* Menu Pages - Button */
.toplevel_page_panda_robots .button-danger {
  background-color: #d63638;
  border-color: #d63638;
}

.toplevel_page_panda_robots .button-danger:hover {
  background-color: #be3132;
  border-color: #be3132;
}

.toplevel_page_panda_robots .button-danger:focus {
  box-shadow: 0 0 0 1px #ffffff, 0 0 0 3px #be3132;
}

/* Menu Pages - Tabs */
.toplevel_page_panda_robots .ui-tabs {
  position: relative;
  max-width: 100%;
  padding: 0px;
  margin: 0;
  zoom: 1;
}

.toplevel_page_panda_robots .ui-tabs .ui-tabs-nav {
  padding: 0;
  margin: 0;
}

.toplevel_page_panda_robots nav {
  box-sizing: border-box;
  background: #ffffff;
  border: none;
  padding: 0px 20px;
  margin: 0px 8px 0px 20px;
}

.toplevel_page_panda_robots .ui-tabs .ui-tabs-nav li {
  list-style: none;
  position: relative;
  top: 1px;
  padding: 0;
  margin: 0px 0.2em 1px 0px;
  white-space: nowrap;
}

.toplevel_page_panda_robots .ui-tabs .ui-tabs-nav li a {
  text-decoration: none;
}

.toplevel_page_panda_robots ul.ui-tabs-nav.panda-main-tab li.ui-state-active {
  background: transparent;
  border-bottom: 2px solid #3a9bd5;
  transition: all 0.4s ease-out;
}

.toplevel_page_panda_robots .ui-tabs .ui-tabs-nav li.ui-tabs-selected a,
.toplevel_page_panda_robots .ui-tabs .ui-tabs-nav li.ui-state-disabled a,
.toplevel_page_panda_robots .ui-tabs .ui-tabs-nav li.ui-state-processing a {
  cursor: text;
}

.toplevel_page_panda_robots .ui-tabs .ui-tabs-nav li a,
.toplevel_page_panda_robots
  .ui-tabs.ui-tabs-collapsible
  .ui-tabs-nav
  li.ui-tabs-selected
  a {
  cursor: pointer;
}

.toplevel_page_panda_robots .ui-tabs .ui-tabs-panel {
  border: none;
  display: block;
  overflow: visible;
}

.toplevel_page_panda_robots .ui-tabs .ui-tabs-hide {
  display: none;
}

.toplevel_page_panda_robots .ui-tabs .ui-tabs-nav li a {
  display: block;
  color: #616161;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 32px;
  padding: 5px 0px;
}

.toplevel_page_panda_robots .ui-tabs ul.ui-tabs-nav li.ui-state-active .icon {
  color: #666666;
}

.toplevel_page_panda_robots .ui-tabs-nav:after {
  content: "";
  clear: both;
  display: block;
}

.toplevel_page_panda_robots .ui-tabs-anchor,
.nav-tab {
  outline: none;
}

.toplevel_page_panda_robots .ui-tabs ul.ui-tabs-nav li {
  border-bottom: 2px solid transparent;
  color: #aaaaaa;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  text-decoration: none;
  text-shadow: none;
  display: inline-block;
  padding: 0;
  margin: 0px 20px 0px 5px;
}

.toplevel_page_panda_robots .ui-tabs ul.ui-tabs-nav li .label {
  display: block;
  margin-top: -10px;
}

.toplevel_page_panda_robots .ui-tabs ul.ui-tabs-nav li:first-child {
  margin-left: 0px;
}

.toplevel_page_panda_robots ul.ui-tabs-nav.panda-main-tab {
  box-sizing: border-box;
  width: 100%;
  padding-bottom: 0px;
  margin-left: -20px;
}

.toplevel_page_panda_robots .ui-state-hover a,
.toplevel_page_panda_robots .ui-state-active a,
.toplevel_page_panda_robots li.ui-state-hover,
.toplevel_page_panda_robots li.ui-state-hover a {
  color: #000000;
}

.toplevel_page_panda_robots .ui-tabs ul.ui-tabs-nav li.ui-state-hover {
  background-color: #ffffff;
  border-bottom: 2px solid #3a9bd5;
}

.toplevel_page_panda_robots .ui-tabs-nav a:focus {
  box-shadow: none;
  -webkit-box-shadow: none;
}

.toplevel_page_panda_robots #panda-content {
  background: #ffffff;
  font-size: 13px;
  line-height: 1.4;
  padding: 20px;
}

/* Forms - Input */
.toplevel_page_panda_robots input[type=text],
.toplevel_page_panda_robots input[type=email],
.toplevel_page_panda_robots textarea {
  width: 100%;
}

/* Forms - Upload Files */
.panda-robots .panda-upload-field {
  width: 88.5% !important;
}

.panda-robots .panda-upload-buttons {
  display: inline-block;
  vertical-align: top;
}

/* Forms - Color Picker */
.toplevel_page_panda_robots .wp-picker-container,
.toplevel_page_panda_robots .wp-picker-input-wrap {
  border-radius: 4px;
  width: 100%;
  overflow: hidden;
}

.toplevel_page_panda_robots .wp-picker-container .wp-color-result.button {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAIAAAHnlligAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAHJJREFUeNpi+P///4EDBxiAGMgCCCAGFB5AADGCRBgYDh48CCRZIJS9vT2QBAggFBkmBiSAogxFBiCAoHogAKIKAlBUYTELAiAmEtABEECk20G6BOmuIl0CIMBQ/IEMkO0myiSSraaaBhZcbkUOs0HuBwDplz5uFJ3Z4gAAAABJRU5ErkJggg==);
  border: none;
  position: relative;
  width: 100%;
  padding: 0px 0px 0px 40px;
  margin-bottom: 0px;
}

.toplevel_page_panda_robots .wp-picker-container .wp-color-result.button:focus {
  box-shadow: none;
  outline: none;
}

.toplevel_page_panda_robots .wp-color-result-text {
  display: none;
}

.toplevel_page_panda_robots .color-alpha {
  border-radius: 3px;
  z-index: 1;
}

.toplevel_page_panda_robots .wp-color-result:after {
  content: attr(title);
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 0px 4px 4px 0px;
  color: #ffffff;
  font-size: 12px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  text-transform: capitalize;
  display: block;
  position: relative;
  padding: 0px 15px;
  height: 30px;
  top: 0;
  right: 0;
  z-index: 9;
}

.toplevel_page_panda_robots .wp-color-result:after,
.toplevel_page_panda_robots .button.wp-color-result .wp-color-result-text {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 0px 4px 4px 0px;
  border: none;
  box-shadow: none;
  color: #ffffff;
  font-size: 12px;
  line-height: 30px;
  padding: 0px 15px;
  height: 30px;
}

.toplevel_page_panda_robots .wp-color-result:focus:after,
.toplevel_page_panda_robots .wp-color-result:hover,
.toplevel_page_panda_robots .wp-color-result:hover:after {
  border: none;
  color: #ffffff;
}

.toplevel_page_panda_robots .wp-picker-open {
  margin-bottom: 6px !important;
}

.toplevel_page_panda_robots .wp-picker-open + .wp-picker-input-wrap {
  display: inline-block;
  vertical-align: top;
}

.toplevel_page_panda_robots .wp-color-result.wp-picker-open:after {
  content: attr(data-current);
}

.toplevel_page_panda_robots
  button.wp-color-result
  + .wp-picker-input-wrap
  > label {
  font-size: 12px;
  position: relative;
  width: 29.5%;
  padding: 0px;
}

.toplevel_page_panda_robots
  button.wp-color-result
  + .wp-picker-input-wrap
  input[type="text"].wp-color-picker {
  width: 100%;
}

/* Menu Pages - Feeds */
.toplevel_page_panda_robots .panda-feed {
  background: #ffffff;
  min-width: 255px;
}

.toplevel_page_panda_robots .panda-feed-header {
  border-bottom: 1px solid #f0f0f1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.toplevel_page_panda_robots .panda-feed-header h2 {
  color: #000000;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 32px;
  margin: 5px 20px;
}

.toplevel_page_panda_robots .panda-feed .activity-block {
  background-color: #f6f7f7;
  border-bottom: none;
  padding: 10px 20px;
  margin: 0px;
}

.toplevel_page_panda_robots .panda-feed .activity-block p {
  font-size: 13px;
  line-height: 1.5;
  margin: 0px;
}

.toplevel_page_panda_robots .panda-feed-body .rss-widget {
  font-size: 13px;
  padding: 10px 20px;
}

.toplevel_page_panda_robots .panda-feed-body .rss-widget ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

.toplevel_page_panda_robots .panda-feed-body .rss-widget ul li {
  line-height: 1.5;
  padding: 4px 0px;
  margin: 0px;
}

.toplevel_page_panda_robots .panda-feed-body .rss-widget a {
  font-weight: 400;
}

.toplevel_page_panda_robots .panda-feed-footer {
  border-top: 1px solid #f0f0f1;
  color: #dcdcde;
  margin-top: 0px;
  margin-bottom: 1px;
  padding: 12px 20px;
}

.toplevel_page_panda_robots .panda-feed-body li a,
.toplevel_page_panda_robots .panda-feed-footer a {
  text-decoration: none;
}

.toplevel_page_panda_robots .panda-feed-footer .screen-reader-text {
  height: inherit;
  white-space: nowrap;
}

/* Responsive */
@media only screen and (max-width: 799px) {
  .toplevel_page_panda_robots .col-left,
  .toplevel_page_panda_robots .col-right {
    width: 100%;
  }

  .toplevel_page_panda_robots header {
    padding: 20px;
  }

  .toplevel_page_panda_robots .ui-tabs .ui-tabs-nav {
    padding: 0 25px;
  }

  .toplevel_page_panda_robots .panda-container,
  .toplevel_page_panda_robots nav {
    margin: 0px 20px !important;
  }

  .toplevel_page_panda_robots nav .panda-container {
    margin: unset !important;
  }

  .toplevel_page_panda_robots .ui-tabs ul.ui-tabs-nav li {
    margin: 0px 10px 0px 5px;
  }

  .toplevel_page_panda_robots .panda-feed {
    margin: 20px;
  }
}

@media only screen and (min-width: 800px) and (max-width: 1499px) {
  .toplevel_page_panda_robots .col-left {
    float: left;
    width: 56.5%;
  }

  .toplevel_page_panda_robots .col-right {
    float: right;
    width: 43.5%;
  }
}
