#postimagediv img {
  border: 1px solid #d5d5d5;
}

.panda_options_panel .options-group {
  border-top: 1px solid #eeeeee;
}

.panda_options_panel .options-group:first-of-type {
  border-top: unset;
}

.panda_options_panel p.form-field {
  color: #555555;
  font-size: 12px;
  line-height: 24px;
  margin: 9px 0px;
}

.panda_options_panel p.form-field {
  padding: 5px 0px 5px 162px;
}

.panda_options_panel label {
  float: left;
  width: 150px;
  padding: 0px;
  margin: 0px 0px 0px -160px;
}

.panda_options_panel textarea {
  line-height: 1.5em;
  height: 3.5em;
  vertical-align: top;
}

#panda-product-images .inside {
  margin: 0px;
  padding: 0px;
}

#panda-product-images .inside .add_product_images {
  padding: 0px 12px 12px;
}

#panda-product-images .inside #product_images_container {
  padding: 0px 0px 0px 9px;
}

#panda-product-images .inside #product_images_container ul {
  padding: 0px;
  margin: 0px;
}

#panda-product-images .inside #product_images_container ul::after,
#panda-product-images .inside #product_images_container ul::before {
  content: " ";
  display: table;
}

#panda-product-images .inside #product_images_container ul::after {
  clear: both;
}

#panda-product-images .inside #product_images_container ul li.add,
#panda-product-images .inside #product_images_container ul li.image {
  box-sizing: border-box;
  cursor: move;
  background: #f7f7f7;
  border: 1px solid #d5d5d5;
  border-radius: 2px;
  float: left;
  position: relative;
  width: 80px;
  margin: 9px 9px 0px 0px;
}

#panda-product-images .inside #product_images_container ul li.add img,
#panda-product-images .inside #product_images_container ul li.image img {
  display: block;
  width: 100%;
  height: auto;
}

#panda-product-images .inside #product_images_container ul ul.actions {
  display: none;
  position: absolute;
  top: -8px;
  right: -8px;
  padding: 2px;
}

#panda-product-images .inside #product_images_container ul ul.actions li {
  float: right;
  margin: 0px 0px 0px 2px;
}

#panda-product-images .inside #product_images_container ul ul.actions li a {
  display: block;
  width: 1em;
  height: 0;
  margin: 0px;
  overflow: hidden;
}

#panda-product-images
  .inside
  #product_images_container
  ul
  ul.actions
  li
  a.delete {
  font-size: 1.4em;
  text-indent: -9999px;
  display: block;
  position: relative;
  width: 1em;
  height: 1em;
}

#panda-product-images
  .inside
  #product_images_container
  ul
  ul.actions
  li
  a.delete::before {
  -webkit-font-smoothing: antialiased;
  content: "\f153";
  background: #ffffff;
  border-radius: 50%;
  color: #999999;
  font-family: Dashicons;
  speak: never;
  font-weight: 400;
  font-variant: normal;
  line-height: 1em;
  text-align: center;
  text-indent: 0;
  text-transform: none;
  position: absolute;
  width: 1em;
  height: 1em;
  top: 0;
  left: 0;
  margin: 0;
}

#panda-product-images
  .inside
  #product_images_container
  ul
  ul.actions
  li
  a.delete:hover::before {
  color: #a00a00;
}

#panda-product-images .inside #product_images_container ul li:hover ul.actions {
  display: block;
}
